@import "tailwindcss";

.btn-language{
  display: inline-block;
  cursor: pointer;
  padding: 7px 12px;
  border-radius: .75rem;
}

.btn-language,
.btn-language option{
  font-size: .9rem;
  font-weight: 600;
}

.btn-language.selected{
  background-color: #4D5562;
}
