@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme{
  --color-slateGray: #4D5562;
  --color-lightGray: #F9FAFB;
  --color-mutedGray: #D2D5DA;
  --color-darkSlate: #394150;
  --color-deepBlack: #040711;
  --color-royalBlue: #263FA9;
  --color-skyBlue: #7CA9F3;
  --color-darkOverlay: #212936CC;
  --color-blackOverlay: #121826CC;
}

body{
  background-color: var(--color-deepBlack);
  background-image: url('/hero_img-sm.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: initial;
  font-family: 'DM Sans', sans-serif;
}

@media screen and (min-width: 960px) {
  body{
    background-image: url('/hero_img.jpg');
  }
}

@media screen and (min-width: 1280px) {
  body{
    background-size: contain;
  }
}
